<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TN Suite">

<listeners>
   <listener class-name = "com.tn.qa.listeners.MyListeners" />
</listeners>

  <test name="TN Test">
    <classes>
      <class name="com.tn.qa.testcases.RegisterTest"/>
      <class name="com.tn.qa.testcases.SearchProductTest"/>
      <class name="com.tn.qa.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
